<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">
      Lista das Despesas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="despesas.length === 0" class="ion-text-center" lines="none">
    <ion-label lines="none"><h1>Não há despesas cadastradas.</h1></ion-label>
  </ion-item>

  <ion-item *ngFor="let despesa of despesas">
    <ion-list class="ion-text-center" lines="none">
      <ion-item>
        <ion-label class="ion-text-wrap">Motivo: {{despesa.motivo}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="ion-text-wrap">Valor: {{despesa.valor}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="ion-text-wrap">Tipo: {{despesa.tipo}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label  class="ion-text-wrap">Local: {{despesa.local}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label class="ion-text-wrap">Data: {{despesa.data | date: 'dd/MM/yyyy HH:mm'}}</ion-label>
      </ion-item>

    </ion-list>
  </ion-item>
</ion-content>